@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
        <p>Thanks for authentication! Now <a href="https://suadin.de/">suadin.de</a> can provide you all available features of that website :-).</p>
</Authorized>
    <NotAuthorized>
        <h1>Hello Guest!</h1>
        <p>Welcome to <a href="https://suadin.de/">suadin.de</a>! This website is a sandbox for suadin, you can find and support suadin over <a href="https://github.com/suadin">github</a>. Have fun to explore :-).</p>
    </NotAuthorized>
</AuthorizeView>