@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@media (prefers-color-scheme: light) {
    :root {
        /*light theme*/
        --background-color: white;
        --foreground-color: black;
        --link-color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /*light theme*/
        --background-color: #2d2d2d;
        --foreground-color: white;
        --link-color: lightblue;
    }
}

@media (min-width: 641px) {
    .main > * {
        margin-left: 2rem !important;
        margin-right: 1.5rem !important;
    }
}

html, body {
    background-color: var(--background-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar, .top-row {
    background-image: none !important;
    background-color: var(--background-color);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: var(--background-color);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

div, input, p, h1, h2, td, th {
    background-color: var(--background-color);
    border-color: var(--foreground-color);
    color: var(--foreground-color);
}

a, a:hover, a:after, a:active {
    color: var(--link-color);
}

.btn {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-color: var(--foreground-color);
}

.btn:hover {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-color: var(--foreground-color);
}